modalcontainer_full {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modalcontainer_default {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.modalcontent_container_default {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.modalcontent_container_auto {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

.modalcontent {
    background: white;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    margin: 1rem;
}
.modalcontent_auto {
}
.modalcontent_default {
    width: 500px;
    max-width: 100%;
}
.modalcontent_full {
    width: 100%;
}

[aria-label="Close"] {
    background: transparent;
    border: none;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
}
